* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

#warpper-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    background-color: orange;
}

#logo-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80px;
    background-color: rgb(192, 187, 179);
    justify-content: flex-end;
    align-items: center;
}

.title {
    order: 1;
    margin-right: auto;
    padding-left: 2%;
}

.button-option {
    order: 2;
    margin-left: 10px;
    height: 40px;
    width: 120px;
}

#nav-div {
    display: flex;
    flex-direction: column; /* Change to column direction */
    width: 100%;
    min-height: 160px;
    background-color: rgb(163, 163, 163);
    justify-content: center;
    align-items: center;
}

#nav-div h1 {
    margin-bottom: 10px; /* Add margin to create space between h1 and p */
}

#cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 1200px;
    background-color: blue;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    background-color: red;
}

.container .search-box {
    position: relative;
    height: 60px; /* Adjust the height to your preference */
    width: 100%; /* Set width to 100% to match the entire screen */
    background-color: green;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 50px; /* Add padding space from the left of window screen */

}

.search-box input {
    position: absolute;
    height: 100%;
    width: calc(100% - 600px); /* Adjust the width to leave space for the icon */
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 0 15px 0 45px;
    color: aliceblue;
    border-radius: 6px;
}

.search-box i {
    position: absolute;
    z-index: 2;
    color: chartreuse;
    top: 50%;
    left: 15px;
    right: 50px;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.dropdown {
    
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-40%);
  

}

.dropbtn {
    height: 60px;
    width: 120px;
}


.container .images .image-box{
    position: relative;
    height: 200px;
    width: 350px; 
    border-radius: 10px;
    

}
.images .image-box img{
  height: 100%;
  width: 100%;
  border-radius: 6px;
  margin-top: 150px; /* space from top of img */
}
.container .images h6{
    position: absolute;
}
.image-box h6{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: aliceblue;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;

}